/* src/App.css */
/* Цей файл тепер відповідає за загальний макет App */

#root {
  /* Видалено:
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  */
  height: 100%; /* Додано */
}

/* Контейнер для вікна (Login або Chat) */
.app-container {
  background: var(--color-bg-container); 
  color: var(--color-text-primary);
  text-align: left;
  transition: all 0.3s;
  
  /* Видалено:
    border-radius: 12px;
    box-shadow: var(--shadow-main);
    padding: 1.5rem;
  */
  height: 100%; /* Додано */
}

/* Стан Логіну */
.app-container.login {
  /* Видалено:
    width: 24rem; 
  */
  /* Додано, щоб центрувати нову картку логіну */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Стан Чату */
.app-container.chat {
  width: 100%;
  height: 100%; /* Додано */
  /* Видалено: max-width: 64rem; */
}

.main-chat-window {
  display: flex;
  flex-direction: column;
  height: 100%; /* Змінено з 700px */
}

.chat-layout {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  height: 100%; /* Додано */
  /* Видалено:
    border: 1px solid var(--color-border);
    border-radius: 8px;
  */
}