#root {
  height: 100%;
}

.app-container {
  background: var(--color-bg-container); 
  color: var(--color-text-primary);
  text-align: left;
  transition: all 0.3s;
  height: 100%;
}

.app-container.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app-container.chat {
  width: 100%;
  height: 100%;
}

.main-chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-layout {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
}